# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
temp.pdf
*.tmp

# Distribution / packaging
dist/
build/
*.egg-info/

# Streamlit
.streamlit/

# OS specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
